:where(.editor-styles-wrapper) .sms-search-box {
	.c-form-control,
	.c-checkbox__control,
	.c-radio__control {
		&:disabled {
			background-color: white;
			color: inherit;
			opacity: 1;

			&:checked::before {
				opacity: 1;
			}
		}
	}
}

:where(.editor-styles-wrapper) .sms-search-box {
	.c-radio__control:disabled:checked {
		background-color: #3a87fd;
		border-color: #3a87fd;

		&::before {
			background-color: white;
			width: 6px;
			height: 6px;
		}
	}
}

:where(.editor-styles-wrapper) .sms-search-box {
	.c-select__control {
		background-color: transparent;
		color: inherit;
		opacity: 1;
	}
}
