.sms-checkboxes {
	display: flex;
	flex-wrap: wrap;
	gap: 0 var(--_margin-1);
}

.sms-radios {
	display: flex;
	flex-wrap: wrap;
	gap: 0 var(--_margin-1);
}

.sms-select {
	.c-select,
	.c-select__control {
		width: 100%;
	}
}

.sms-is-layout-inline {
	flex-direction: row;
}

.sms-is-layout-stack {
	flex-direction: column;
}

.sms-is-layout-grid {
	--sms--item-min-width: 100px;

	display: grid;
	gap: 0 var(--_margin-1);
	grid-template-columns: repeat(auto-fit, minmax(min(var(--sms--item-min-width), 100%), 1fr));
}
